<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-store, no-cache, must-revalidate, proxy-revalidate" />
          <add name="Pragma" value="no-cache" />
          <add name="Expires" value="0" />
          <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; style-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
          <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="Non-www to www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^mikamerlo\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://www.botanguzel.com/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/subPages/errorPages/error.html" responseMode="ExecuteURL" />
            <error statusCode="401" prefixLanguageFilePath="" path="/subPages/errorPages/401.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/subPages/errorPages/401.html" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://www.botanguzel.com" exactDestination="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
